<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <!-- Spartan Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Tailwind CSS JIT CDN -->
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script type="tailwind-config">
      { theme: { fontFamily: { 'sans': ['Spartan'] } } }
    </script>

    <!-- Vue JS CDN -->
    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>

    <title>room</title>
  </head>

  <body>
    <div id="app">
      <navigation></navigation>
      <main class="md:h-screen max-w-screen-2xl">
        <carousel class="md:h-2/3"></carousel>
        <div class="md:flex md:h-1/3">
          <img
            src="./images/image-about-dark.jpg"
            alt="Furniture in a dark room."
            class="object-cover w-full flex-1"
          />
          <div class="p-12 flex flex-col justify-center md:w-4/5" id="about">
            <h3 class="uppercase tracking-[6px] text-xs font-bold mb-4">
              About our furniture
            </h3>
            <p class="text-gray-400 text-sm overflow-auto">
              Our multifunctional collection blends design and function to suit
              your individual taste. Make each room unique, or pick a cohesive
              theme that best express your interests and what inspires you. Find
              the furniture pieces you need, from traditional to contemporary
              styles or anything in between. Product specialists are available
              to help you create your dream space.
            </p>
          </div>
          <img
            src="./images/image-about-light.jpg"
            alt="White chair in a white room."
            class="object-cover w-full flex-1"
          />
        </div>
      </main>
    </div>

    <script>
      const app = Vue.createApp({});

      app.component('navigation', {
        template: `
          <nav
            class="
              flex
              fixed
              top-0
              lowercase
              md:p-12
              p-8
              py-12
              items-center
              md:w-max
              w-full
              md:shadow-none
              md:bg-transparent
              md:from-transparent
              justify-between
              z-20
            "
            :class="[showMenu ? 'bg-white shadow-2xl' : 'bg-gradient-to-b from-[#0000009e] to-transparent']"
          >
            <button @click="toggleMenu" class="md:hidden focus:outline-none">
              <img v-if='!showMenu' src="./images/icon-hamburger.svg" alt="Hamburger icon." />
              <img v-else='!showMenu' src="./images/icon-close.svg" alt="Close icon." />
            </button>
            <a 
              href="#" 
              class="md:mr-8 mx-auto text-2xl font-semibold md:block text-white"
              :class="[showMenu ? 'hidden' : '']"
            >
              Room
            </a>
            <ul 
              class="md:flex flex-no-wrap gap-6 md:font-normal font-bold sm:text-base text-sm md:text-white text-black"
              :class="[showMenu ? 'flex' : 'hidden']"
            >
              <li><a @click="toggleMenu" href="#" class="hover:border-b-2 pb-2 transition-all duration-75">Home</a></li>
              <li><a @click="toggleMenu" href="#" class="hover:border-b-2 pb-2 transition-all duration-75">Shop</a></li>
              <li><a @click="toggleMenu" href="#about" class="hover:border-b-2 pb-2 transition-all duration-75">About</a></li>
              <li><a @click="toggleMenu" href="#" class="hover:border-b-2 pb-2 transition-all duration-75">Contact</a></li>
              <li class='sm:block hidden'><a @click="toggleMenu "href="#" class="hover:border-b-2 pb-2 transition-all duration-75">Discover</a></li>
            </ul>
          </nav>
          <div 
            :class="[showMenu ? 'block' : 'hidden']"
            class="md:hidden fixed min-h-screen bg-black bg-opacity-50 w-full z-10"
            @click="toggleMenu"
          />`,
        data() {
          return {
            showMenu: false,
          };
        },
        methods: {
          toggleMenu() {
            this.showMenu = !this.showMenu;
          },
        },
      });

      app.component('carousel', {
        template: `
          <div class="md:flex">
            <div
              class="flex flex-no-wrap overflow-x-hidden"
              style="scroll-behavior: smooth"
            >
              <img
                v-for="slide in slides"
                :ref="slug(slide.title)"
                :key="slug(slide.title)"
                :src="slide.image.src"
                :alt="slide.image.alt"
                class="object-cover sm:h-full h-96"
              />
            </div>
            <div class="flex flex-col md:p-24 p-12 relative md:w-[91rem]">
              <h1
                class="md:text-4xl sm:text-3xl text-2xl font-semibold md:mb-10 mb-6"
              >
                {{ currentSlide.title }}
              </h1>
              <p class="text-gray-400 text-sm overflow-auto mb-10">
                {{ currentSlide.description }}
              </p>
              <a
                href="#"
                class="
                  w-max
                  flex
                  items-start
                  gap-6
                  uppercase
                  text-xs
                  tracking-[12px]
                  font-semibold
                  hover:text-gray-400
                  transition-all
                "
              >
                Shop now
                <img src="./images/icon-arrow.svg" alt="Arrow" />
              </a>
              <div class="flex absolute md:left-0 right-0 md:bottom-0 bottom-full">
                <button
                  @click="swipeBack"
                  class="h-20 w-20 bg-black hover:bg-gray-600 transition-all grid place-items-center focus:outline-none"
                >
                  <img
                    class="m-auto"
                    src="./images/icon-angle-left.svg"
                    alt="Icon angle left."
                  />
                </button>
                <button
                  @click="swipeForward"
                  class="h-20 w-20 bg-black hover:bg-gray-600 transition-all grid place-items-center focus:outline-none"
                >
                  <img
                    class="m-auto"
                    src="./images/icon-angle-right.svg"
                    alt="Icon angle right."
                  />
                </button>
              </div>
            </div>
          </div>`,
        data() {
          return {
            slides: [
              {
                image: {
                  src: './images/desktop-image-hero-1.jpg',
                  alt: 'Two chairs and a table with a plant.',
                },
                title: 'Discover innovative ways to decorate',
                description:
                  'We provide unmatched quality, comfort, and style for property owners across the country. Our experts combine form and function in bringing your vision to life. Create a room in your own style with our collection and make your property a reflection of you and what you love.',
              },
              {
                image: {
                  src: './images/desktop-image-hero-3.jpg',
                  alt: 'Three chairs.',
                },
                title: 'We are available all across the globe',
                description:
                  "With stores all over the world, it's easy for you to find furniture for your home or place of business. Locally, we're in most major cities throughout the country. Find the branch nearest you using our store locatior. Any questions? Don't hesitate to contact us today.",
              },
              {
                image: {
                  src: './images/desktop-image-hero-2.jpg',
                  alt: 'Three chairs.',
                },
                title: 'Manufactured with the best materials',
                description:
                  'Our modern furniture store provide a high level of quality. Our company has invested in advanced technology to ensure that every product is made as perfect and as consistent as possible. With three decades of experience in this industry, we understand what customers want for their home and office.',
              },
            ],
            currentIndex: 0,
          };
        },
        computed: {
          currentSlide() {
            return this.slides[this.currentIndex];
          },
          nextIndex() {
            if (this.slides.length === this.currentIndex + 1) {
              return 0;
            }

            return this.currentIndex + 1;
          },
          previousIndex() {
            if (this.currentIndex === 0) {
              return this.slides.length - 1;
            }

            return this.currentIndex - 1;
          },
        },
        methods: {
          swipeForward() {
            const nextRef = this.slug(this.slides[this.nextIndex].title);

            this.$refs[nextRef][0].scrollIntoView();

            this.currentIndex = this.nextIndex;
          },
          swipeBack() {
            const previousRef = this.slug(this.slides[this.previousIndex].title);

            this.$refs[previousRef][0].scrollIntoView();

            this.currentIndex = this.previousIndex;
          },
          slug: string => string.toLowerCase().replace(/\s/g, '-'),
          withinViewport(element) {
            const rect = element.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
          }
        },
        mounted() {
          setInterval(() => {
            if (this.withinViewport(this.$el.firstChild)) {
              this.swipeForward();
            }
          }, 7500);
        },
      });

      app.mount('#app');
    </script>
  </body>
</html>
